<section id="container">
  <%= render 'components/header' %>
  <div class="flex-row">
    <%= render 'components/nav' %>
    <div class="content shop-todo">
      <%= render 'components/shop_todo_list' %>
    </div>
  </div>
</section>
