<header id="header">
  <div class="logo flex-center">
    <a href="./dashboard"><strong>HANDBUILT</strong>MOTO</a>
  </div>
  <div class="toolbar">
    <ul>
      <li><%= current_user.username %></li>
      <li><%= image_tag "/assets/bars.png", class: 'bars-icon' %></li>
    </ul>
  </div>
</header>
