<nav id="nav">
  <ul>
    <li><%= link_to('Garage', dashboard_path) %> <i class="fas fa-angle-down right"></i></li>
    <ul>
      <li>Resources</li>
    </ul>
    <li>Builds</li>
    <li>Shop <i class="fas fa-angle-down right"></i></li>
    <ul>
      <li><%= link_to('Shop Todo', dashboard_shop_todo_path) %></li>
    </ul>
  </ul>
</nav>
