@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
$grey: #fefefe;
$dark: rgb(38,50,55);
$white: #f4f1f1;
$lightblue: #a0d5df;
$orange: #ef4e23;
$teal: #5f8992;
$black: #383838;

* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, span, li, ul, input, textarea {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 1.2vw;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p, span, li, a {
  font-size: 1rem;
}

small {
  font-size: .75rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  border-radius: 7px;
  border: none;
  padding: .75rem;
}

input,
textarea {
  font-size: .9rem;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-panel,
.right-panel {
  width: 50%;
  float: left;
  height: 100vh;
}

.left-panel {
  background: url('landing.png') no-repeat center center / cover;
  text-align: center;

  .logo {
    width: 65%;
    margin-top: 4rem;
  }

  .callout {
    color: $white;
    text-transform: uppercase;
    width: 50%;
    margin: 02rem auto 0;
    line-height: 2.5rem;
    font-weight: lighter;
  }
}

.right-panel {
  .build-process {
    width: 75%;
    margin: 1rem auto 0;
    display: block;
  }

  .action-container {
    margin: -1rem auto 0;
    width: 75%;

    .showing {
      display: block;
    }

    ul {
      text-align: right;
      text-transform: uppercase;
    }

    li {
      background: $black;
      display: inline-block;
      color: $white;
      padding: .5rem 3rem;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;

      &:nth-of-type(2) {
        background: $teal;
        margin-left: -.25rem;
      }
    }
  }

  .container {
    width: 100%;
    text-align: center;
    height: 26rem;
    border-radius: 5px;
    border-top-right-radius: 0;

    input {
      width: 23rem;
      margin: .5rem auto;
    }
  }

  .login {
    background: $black;
    display: none;

    input[type='checkbox'] {
      width: 2rem;
    }

    .white {
      color: #fff;
    }

    .btn {
      background: $teal;
      color: #fff;
      margin-top: 1rem;
    }
  }

  .sign-up {
    background: $teal;

    .btn {
      background: $black;
      color: #fff;
      margin-top: 1rem;
    }
  }
}

.high-priority {
  background: #d9534f;
}

.low-priority {
  background: #5bc0de;
}

// container

#container {
  overflow-y: hidden;
  height: 100vh;
  background: #f4f5f7;
}

.content {
  flex: 4;
  padding: 1rem;
}

#header {
  background: $grey;
  height: 3.5rem;
  width: 100%;

  .logo {
    float: left;
    width: 18rem;
    text-align: center;
    line-height: 3.5rem;

    a {
      color: #666;
    }
  }

  .toolbar {
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;

    .bars-icon {
      width: 1.5rem;
      height: auto;
      margin-top: .2rem;
      cursor: pointer;
    }

    li {
      display: inline-block;
      vertical-align: middle;
      padding: 0 .5rem;
      opacity: .5;
    }
  }
}

#nav {
  flex: 1;
  background: $dark;
  height: 100vh;
  padding: 2rem 1rem;

  .nav-icon {
    height: 1rem;
  }

  li {
    line-height: 2rem;

    & + ul {
      padding-left: 1rem;
    }
  }

  li, a {
    color: rgba(255,255,255,.9);
  }

  li {
    display: block;
  }

  .right {
    align-items: flex-end;
  }
}

.shop-todo {
  textarea {
    width: 64vw;
    display: inline-block;
  }

  .form-inputs {
    display: inline-block;
    vertical-align: top;
  }

  .form-actions {
    text-align: right;
    padding-right: 4rem;
  }
}
